@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>Bio</h3>

<p>My name is Grant Hadley, I am a senior studying MIS and Business Analytics with a minor in Finance. I am from Bellville Ohio, which is just south of Mansfield. I am really looking forward to learning everything this course has to offer.</p>
