@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>My contact information</h3>

<address>
    126 North Congress St.<br />
    Athhens, Ohio 45701 <br />
    <abbr title="Phone">P:</abbr>
    419.565.7648
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:gh900416@ohio.edu">gh900416@ohio.edu</a><br />
</address>