@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron active">
    <h1>Ohio University</h1>
    <p class="lead">Ohio University is a state school located in beautiful southern Ohio.</p>
    <p><a href="https://www.ohio.edu/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-5">
        <h2>Management Information Systems</h2>
        <p>
            A management information system (MIS) is a computerized database of financial information organized and programmed in such a way that it produces regular reports on operations for every level of management in a company..
        </p>
        <p><a class="btn btn-default" href="https://business.ohio.edu/academics/undergrad-majors/management-information-systems/">Learn more &raquo;</a></p>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Navigation
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">@Html.ActionLink("Classes", "Index", "Classes") <br /></a>
                <a class="dropdown-item" href="#">@Html.ActionLink("Students", "Index", "Students")<br /></a>
                <a class="dropdown-item" href="#">@Html.ActionLink("Enrollment", "Index", "Enrollments")</a>
            </div>
        </div>
    </div>

    <div class="col-md-pull-6">
        <h2>Business Analytics</h2>
        <p>Business analytics refers to the skills, technologies, practices for continuous iterative exploration and investigation of past business performance to gain insight and drive business planning.</p>
        <p><a class="btn btn-default" href="https://business.ohio.edu/academics/undergrad-majors/business-analytics/">Learn more &raquo;</a></p>
    </div>
    <div class="col-lg-4">
        <h2>Finance</h2>
        <p>The management of large amounts of money, especially by governments or large companies..</p>
        <p><a class="btn btn-default" href="https://business.ohio.edu/academics/undergrad-majors/finance/">Learn more &raquo;</a></p>
    </div>
</div>